<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>decoration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D82C0C221BF1622700C1FE6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D82C0C3B1BF1622800C1FE6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D82C0C461BF1622800C1FE6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
